extends _

snippet skeleton "a skeleton"
	<!DOCTYPE HTML>

	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">

		<title>DEFAULT_TITLE</title>

		<link rel="stylesheet" type="text/css" href="PATH_TO_CSS">

		<script src="PATH_TO_JS"></script>
	</head>

	<body>
	</body>
	</html>
