extends _

snippet assert "assert statement"
	assert ${1:expr}, "${2:msg}"
	$0

snippet class "class"
	class ${1:`substitute(expand('%:r:h'), '\%(^\|_\)\(.\)', '\U\1', 'g')`}(${2:object}):
		def __init__(self, ${3:args}):
			super($1, self).__init__(${4:args})
			$0

snippet fprint "formatted print"
	print("$2".format($1))
	$0

snippet ifmain "if main"
	if __name__ == "__main__":
		$0
