snippet npa "numpy.array(...)" b
${1:var} = np.array(${2:[]})
endsnippet

snippet npo "numpy.ones(...)" b
${1:var} = np.ones(${2:shape}, ${3:dtype=})
endsnippet

snippet npz "numpy.zeros(...)" b
${1:var} = np.zeros(${2:shape}, ${3:dtype=})
endsnippet
