snippet angle "angle brackets"
\\langle ${1} \\rangle ${2}
endsnippet

snippet dquo "double quote"
\`\`${1}''${2}
endsnippet

snippet textbox "a text box"
\begin{textbox}{\textit{${1:TEXT}}}
${2:VISUAL}
\end{textbox}
endsnippet
