#-------------------------------------------------------------------- neovim{{{
*.swp
.netrwhist
# neovim}}}

#------------------------------------------------------------------- nushell{{{
/nushell/history.*
/nushell/plugin.msgpackz
# nushell}}}

snippet.json
