#-------------------------------------------------------------------- neovim{{{
*.swp
.netrwhist
# neovim}}}

#------------------------------------------------------------------- nushell{{{
/nushell/history.*
/nushell/plugin.msgpackz
# nushell}}}

#------------------------------------------------------------------ opencode{{{
/opencode/node_modules
/opencode/opencode-notifier-state.json
/opencode/package.json
/opencode/package-lock.json
# opencode}}}

snippet.json
