snippet nali "align" b
\\begin{align${1:*}}
	${4:${VISUAL}}
	\\tag{${2:${VISUAL}}}
	\\label{${3:${VISUAL}}}
\\end{align$1}
endsnippet

snippet nfrac "fraction" b
\frac{${1:${VISUAL}}}{${2:${VISUAL}}} ${3}
endsnippet

snippet ninl "inline math" b
\\(${1:${VISUAL}}\\) ${2}
endsnippet
