snippet nang "angle brackets"
\\langle ${1:${VISUAL}} \\rangle ${2:${VISUAL}}}
endsnippet

snippet ndquo "double quote"
\`\`${1:${VISUAL}}''${2:${VISUAL}}
endsnippet

snippet nsquo "single quote"
\`${1:${VISUAL}}'${2:${VISUAL}}
endsnippet

snippet ntbox "a text box"
\begin{textbox}{\textit{${1:${VISUAL}}}}
${2:${VISUAL}}
\end{textbox}
endsnippet
