snippet nbox "a comment box" b
/***************************************************************************** ${1:text}
**************************************************************************** ${1:text}*/
endsnippet

snippet nmain "program entry" b
int main(int argc, char **argv)
{

	return 0;
}
endsnippet

snippet nsec "a code section" b
//************************************************************************* ${1:text}{{{
//}}}
endsnippet
