snippet section "code section enclosure" b
//************************************************************************* ${1:text}{{{
//************************************************************************* ${1:text}}}}
endsnippet

snippet cbox "comment box" b
/***************************************************************************** ${1:text}
**************************************************************************** ${1:text}*/
endsnippet
