snippet ali "align environment"
\\begin{align${1:*}}
	${4:${VISUAL}}
	\\tag{${2:${VISUAL}}}
	\\label{${3:${VISUAL}}}
\\end{align$1}
endsnippet

snippet frac "fraction"
\frac{${1:${VISUAL}}}{${2:${VISUAL}}} ${3}
endsnippet

snippet inl "inline math environment"
\\(${1:${VISUAL}}\\) ${2}
endsnippet
